:root {
  --color-primary: #0078d4;
  --color-primary-light: #0084E9;
  --color-primary-dark: #0069B9;
  --color-destructive: #d4002e;
  --color-yellow: #e0bf03;
  --color-purple: #5100d4;
  --color-orange: #d45500;
  --color-off-black: #333333;
  --shadow-1: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
  --shadow-2: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
  --shadow-3: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
  --gradient-app-background: linear-gradient(var(--color-primary-light) 0%, var(--color-primary-dark) 100%) 100% 100%;
  --gradient-app-toolbar: linear-gradient(var(--color-primary-light) 0%, var(--color-primary-light) 100%) 100% 100%;
  --app-header-height: 1.75rem;
  --app-toolbar-height: 4rem;
  --app-background-offset-post-signin: var(--app-header-height) + var(--app-toolbar-height);
  --z-app-header: 2;
  --z-toolbar: 1;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible :focus.focus-visible {
  outline: 2px solid orange;
  outline-offset: -2px;
}

* {
  color: inherit;
  box-sizing: inherit;
  font-family: inherit;
}
    
html {
  height: 100%;
  color: var(--color-off-black);
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--gradient-app-toolbar), var(--gradient-app-background);
  background-size: 100% calc(var(--app-background-offset-post-signin)), 100% calc(100% - var(--app-header-height) - var(--app-toolbar-height)); 
  background-position: top left, top calc(var(--app-header-height) + var(--app-toolbar-height)) left;
  background-repeat: no-repeat, no-repeat;
  overflow: hidden;
}

body.pre-sign-in {
  background: url("../assets/sitting-3.svg") bottom right no-repeat, var(--gradient-app-background);
  background-size: 65%, 100% 100%;
}

.body--fixed-top {
  flex: 0 0 auto;
}

.body--flex-middle {
  flex: 1 1 auto;
}

* {
  box-sizing: inherit;
}

.header {
  height: var(--app-header-height);
  padding: 0 0 0 1rem;
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #323130;
  color: white;
  transition: background-color 250ms;
  position: relative;
  z-index: var(--z-app-header);
}

.header__title {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.header__actions {
  display: flex;
}

.toolbar {
  display: none;
  flex: 0 0 auto;
  height: var(--app-toolbar-height);
  align-items: center;
  padding: 0 1rem;
  background: var(--gradient-app-toolbar);
  position: relative;
  z-index: var(--z-toolbar);
}

.toolbar--with-scroll {
  box-shadow: var(--shadow-3);
}

.toggle {
  flex: 0 0 auto;
  background-color: var(--color-primary-dark);
  height: 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: inset var(--shadow-2);
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
}

.toggle::before {
  content: 'Favorites';
  font-size: 0.85rem;
  font-weight: 600;
  color: transparent;
  padding: 0 1rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: var(--shadow-2);
  border-radius: 1rem;
  width: var(--indicator-width, auto);
  transform: translate3d(var(--indicator-translate), 0, 0);
  box-sizing: border-box;
  transition: width 250ms, transform 250ms;
}

.toggle__option {
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  padding: 0 1rem;
  position: relative;
  transition: color 250ms;
}

.toggle__option[data-selected] {
  color: var(--color-primary-dark);
}

button {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.button--shell {
  width: 3rem;
  background-color: transparent;
  border: none;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--shell:hover,
.button--shell:focus {
  outline: none;
  background-color: #484644;
}

.button--primary {
  background-color: white;
  border: none;
  border-radius: 4px;
  color: var(--color-primary);
  height: 2rem;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 0.85rem;
  box-shadow: var(--shadow-2);
}

.button--primary:hover,
.button--primary.focus-visible {
  box-shadow: var(--shadow-3);
}

.button--primary:active {
  box-shadow: var(--shadow-1);
}

.button--destructive {
  background-color: white;
  color: var(--color-destructive);
}

.button--extra-wide {
  width: 100%;
  max-width: 24rem;
}

.button--favorite {
  --star-stroke-width: 1.25px;
  --star-stroke: var(--color-off-black);
  background-color: transparent;
  border: none;
  padding: 0.25rem 0 0.25rem 0.25rem;
  transition: transform 200ms;
}

.button--add-favorite {
  --star-fill: transparent;
}

.button--remove-favorite {
  --star-fill: var(--color-yellow);
}

.button--launch {
  color: white;
  position: relative;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  text-transform: capitalize;
}

.button--launch[data-type="trial"] {
  background-color: var(--color-orange);
}

.button--launch[data-type="livedrive"] {
  background-color: var(--color-purple);
}

.button--launching::before {
  animation: launch 500ms;
  animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation-fill-mode: backwards;
}

.button--launch::before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateX(-100%);
  will-change: transform, opacity;
}

.sign-in-container {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pre-sign-in .sign-in-container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__pre-sign-in-container {
  flex: 1 0 auto;
}

.button--sign-in {
  animation: button-enter 400ms 200ms;
  animation-fill-mode: both;
  will-change: transform, opacity;
}


.button--sign-out {
  margin: 0 0 0 auto;
  flex: 0 0 auto;
}

.post-sign-in.environment-available .toolbar{
  display: flex;

  animation: toolbar-enter 400ms;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

.view-carousel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.view-carousel__item-left {
  transform: translate3d(-100%, 0, 0);
  transition: transform 250ms;
}

.view-carousel__item-left[data-selected] {
  transform: translate3d(0, 0, 0);
}

.view-carousel__item-right {
  transform: translate3d(100%, 0, 0);
  transition: transform 250ms;
}

.view-carousel__item-right[data-selected] {
  transform: translate3d(0, 0, 0);
}

.scroll-area {
  overflow: auto;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.scroll-sentinel {
  flex: 0 0 0px;
}

.environment-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 1rem;
  padding: 0 1rem;
  overflow: hidden; /* exit animation will overflow */
  flex: 0 0 auto;
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: var(--shadow-2);

  will-change: transform, opacity;
}

.card--animation-enter {
  animation: card-enter 400ms 400ms;
  animation-fill-mode: both;
}

.card--animation-enter:nth-child(2) { animation-delay: 500ms; }
.card--animation-enter:nth-child(3) { animation-delay: 600ms; }
.card--animation-enter:nth-child(4) { animation-delay: 700ms; }
.card--animation-enter:nth-child(5) { animation-delay: 800ms; }
.card--animation-enter:nth-child(6) { animation-delay: 900ms; }
.card--animation-enter:nth-child(7) { animation-delay: 1000ms; }
.card--animation-enter:nth-child(8) { animation-delay: 1100ms; }
.card--animation-enter:nth-child(9) { animation-delay: 1200ms; }

.card--animate-exit {
  animation: card-exit 250ms, just-wait 50ms;
  animation-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
  animation-fill-mode: both;
  animation-delay: 0ms, 250ms !important;
}


.card__actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-gap: 0.5rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card__title {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
}

@keyframes card-enter {
  0% {
    transform: translate3d(-64px, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes card-exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes just-wait {
  0% { }
  100% { }
}

@keyframes button-enter {
  0% {
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toolbar-enter {
  0% {
    transform: translateY(-16px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes launch {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  40% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}